#sobre-page {
  height: 100vh;


  background: #ffffff;
  
}

#sobre-page header {
  height: 162px;

  background: #746FB6;
  color: #ffffff;

  font: 700 96px Titillium Web;
}

#sobre-page header p {
  margin-left: 72px;
}

#sobre-page .about-body {
  height: 1092px;

  background: #ffffff;

  display: flex;
}

#sobre-page .about-body img {
  margin-left: 100px;
}

#sobre-page .about-body .text-area {
  width: 1008px;

  margin-top: 133px;
  margin-left: 121px;
}

#sobre-page .about-body .text-area h5 {
  font: 700 30px Titillium Web;

  margin-bottom: 16px;
}

#sobre-page .about-body .text-area p {
  margin-bottom: 16px;

  line-height: 35px;
}